# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')


df1
df2
df3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

## df1 cleaning

In [2]:
df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [3]:
df1.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [4]:
df1.rename(columns={'ST': 'State'}, inplace=True)
df1

,Customer,State,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df1.rename(columns={'GENDER': 'Gender'}, inplace=True)
df1

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df1 = df1.reindex(sorted(df1.columns), axis=1)
df1

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df1.isnull()

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,False,True,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [8]:
 #Drop rows where all columns are NaN

df1.dropna(how='all')

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,305955.03%,Master,M,38644.0,78.0,1/1/00,Personal Auto,Oregon,361.455219,Four-Door Car
1067,VJ51327,2031499.76%,High School or Below,F,63209.0,102.0,1/2/00,Personal Auto,Cali,207.320041,SUV
1068,GS98873,323912.47%,Bachelor,F,16061.0,88.0,1/0/00,Personal Auto,Arizona,633.600000,Four-Door Car
1069,CW49887,462680.11%,Master,F,79487.0,114.0,1/0/00,Special Auto,California,547.200000,SUV
1070,MY31220,899704.02%,College,F,54230.0,112.0,1/0/00,Personal Auto,California,537.600000,Two-Door Car

In [9]:
#df1['Customer Lifetime Value'] = pd.to_numeric(df1['Customer Lifetime Value'], errors='coerce')
#df1['Customer Lifetime Value']

In [10]:
#df1['Customer Lifetime Value'] = df1['Customer Lifetime Value'].astype(float, errors='ignore')
#df1['Customer Lifetime Value']

In [11]:
df1['Customer Lifetime Value'].str.replace('%', '')

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: Customer Lifetime Value, Length: 4008, dtype: object

In [12]:
df1['Customer Lifetime Value'].dtypes

dtype('O')

In [13]:
df1['Education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [14]:

df1['Education'] = df1['Education'].replace({'Bachelors': 'Bachelor', 'College': 'High School or Below'})
df1['Education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'Doctor', nan],
      dtype=object)

In [15]:
df1['Gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [16]:
df1['Gender'] = df1['Gender'].replace({'Femal':'F', 'female':'F', 'Male':'M'})
df1['Gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [17]:
df1['Policy Type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [18]:
df1['Total Claim Amount'] = df1['Total Claim Amount'].round(2)
df1['Total Claim Amount']

0          2.70
1       1131.46
2        566.47
3        529.88
4         17.27
         ...
4003        NaN
4004        NaN
4005        NaN
4006        NaN
4007        NaN
Name: Total Claim Amount, Length: 4008, dtype: float64

In [19]:
df1['Vehicle Class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

## Df2 Cleaning

In [20]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [21]:
df2.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [22]:
df2.rename(columns={'ST': 'State','GENDER':'Gender'}, inplace=True)
df2

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [23]:
df2.isnull()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
991,False,False,False,False,False,False,False,False,False,False,False
992,False,False,False,False,False,False,False,False,False,False,False
993,False,False,False,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False,False,False,False

In [24]:
df2['Customer Lifetime Value'].str.replace('%', '')

0       323912.47
1       462680.11
2       899704.02
3      2580706.30
4       380812.21
          ...
991     847141.75
992     543121.91
993     568964.41
994     368672.38
995     399258.39
Name: Customer Lifetime Value, Length: 996, dtype: object

In [25]:
df2['Education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'Bachelors',
       'High School or Below'], dtype=object)

In [26]:
df2['Education'] = df1['Education'].replace({'Bachelors': 'Bachelor', 'College': 'High School or Below'})
df2['Education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'Doctor'],
      dtype=object)

In [27]:
df2['Gender'].unique()

array(['F', 'M', nan, 'female', 'Male'], dtype=object)

In [28]:
df2['Gender'] = df1['Gender'].replace({'female':'F', 'Male':'M'})
df2['Gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [29]:
df2['Policy Type'].unique()

array(['Personal Auto', 'Special Auto', 'Corporate Auto'], dtype=object)

In [30]:
df2['Total Claim Amount'] = df2['Total Claim Amount'].round(2)
df2['Total Claim Amount']

0       633.60
1       547.20
2       537.60
3      1027.20
4       451.20
        ...
991     185.67
992     140.75
993     471.05
994      28.46
995     700.35
Name: Total Claim Amount, Length: 996, dtype: float64

In [31]:
df2['Vehicle Class'].unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Luxury Car', 'Sports Car',
       'Luxury SUV'], dtype=object)

In [32]:
df2 = df2.reindex(sorted(df2.columns), axis=1)
df2

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,GS98873,323912.47%,Master,NaN,16061,88,1/0/00,Personal Auto,Arizona,633.60,Four-Door Car
1,CW49887,462680.11%,Bachelor,F,79487,114,1/0/00,Special Auto,California,547.20,SUV
2,MY31220,899704.02%,Bachelor,F,54230,112,1/0/00,Personal Auto,California,537.60,Two-Door Car
3,UH35128,2580706.30%,Bachelor,M,71210,214,1/1/00,Personal Auto,Oregon,1027.20,Luxury Car
4,WH52799,380812.21%,High School or Below,M,94903,94,1/0/00,Corporate Auto,Arizona,451.20,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,847141.75%,High School or Below,F,63513,70,1/0/00,Personal Auto,Arizona,185.67,Four-Door Car
992,BS91566,543121.91%,Bachelor,M,58161,68,1/0/00,Corporate Auto,Arizona,140.75,Four-Door Car
993,IL40123,568964.41%,Doctor,M,83640,70,1/0/00,Corporate Auto,Nevada,471.05,Two-Door Car
994,MY32149,368672.38%,Bachelor,F,0,96,1/0/00,Personal Auto,California,28.46,Two-Door Car
995,SA91515,399258.39%,High School or Below,F,0,111,1/0/00,Personal Auto,California,700.35,SUV

## Df3 cleaning

In [33]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [34]:
df3.isnull()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7065,False,False,False,False,False,False,False,False,False,False,False
7066,False,False,False,False,False,False,False,False,False,False,False
7067,False,False,False,False,False,False,False,False,False,False,False
7068,False,False,False,False,False,False,False,False,False,False,False
7069,False,False,False,False,False,False,False,False,False,False,False

In [35]:
df3.dtypes

Customer                      object
State                         object
Customer Lifetime Value      float64
Education                     object
Gender                        object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints      int64
Policy Type                   object
Total Claim Amount           float64
Vehicle Class                 object
dtype: object

In [36]:

df3['Customer Lifetime Value'].round(2)

0        3479.14
1        2502.64
2        3265.16
3        4455.84
4        7704.96
          ...
7065    23405.99
7066     3096.51
7067     8163.89
7068     7524.44
7069     2611.84
Name: Customer Lifetime Value, Length: 7070, dtype: float64

In [37]:
df3['Education'].unique()

array(['High School or Below', 'Master', 'Bachelor', 'College', 'Doctor'],
      dtype=object)

In [38]:
df3['Gender'].unique()

array(['M', 'F'], dtype=object)

In [39]:
df3['Policy Type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto'], dtype=object)

In [40]:
df3['Vehicle Class'].unique()

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Sports Car', 'Luxury SUV',
       'Luxury Car'], dtype=object)

In [41]:
df3['Total Claim Amount'] = df3['Total Claim Amount'].round(2)
df3['Total Claim Amount']

0       499.20
1         3.47
2       393.60
3       699.62
4       484.80
         ...
7065    198.23
7066    379.20
7067    790.78
7068    691.20
7069    369.60
Name: Total Claim Amount, Length: 7070, dtype: float64

In [42]:
df3 = df3.reindex(sorted(df3.columns), axis=1)
df3

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,SA25987,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.20,Two-Door Car
1,TB86706,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.47,Two-Door Car
2,ZL73902,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.60,Four-Door Car
3,KX23516,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.62,SUV
4,FN77294,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.80,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,23405.987980,Bachelor,M,71941,73,0,Personal Auto,California,198.23,Four-Door Car
7066,PK87824,3096.511217,College,F,21604,79,0,Corporate Auto,California,379.20,Four-Door Car
7067,TD14365,8163.890428,Bachelor,M,0,85,3,Corporate Auto,California,790.78,Four-Door Car
7068,UP19263,7524.442436,College,M,21941,96,0,Personal Auto,California,691.20,Four-Door Car
7069,Y167826,2611.836866,College,M,0,77,0,Corporate Auto,California,369.60,Two-Door Car

In [43]:
def standardize_format (value):
    if '/' in str(value):
        # Already in 'x/x/xx' format, return as is
        return value
    else:
        # Convert single digit/number to 'x/0/00' format
        return f"{value}/0/00"

# Apply the transformation to the column
df3['Number of Open Complaints'] = df3['Number of Open Complaints'].apply(standardize_format)

In [44]:
df_total = pd.concat([df1, df2, df3], axis=0)

df_total

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.70,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.46,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.47,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.88,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.27,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,23405.98798,Bachelor,M,71941.0,73.0,0/0/00,Personal Auto,California,198.23,Four-Door Car
7066,PK87824,3096.511217,College,F,21604.0,79.0,0/0/00,Corporate Auto,California,379.20,Four-Door Car
7067,TD14365,8163.890428,Bachelor,M,0.0,85.0,3/0/00,Corporate Auto,California,790.78,Four-Door Car
7068,UP19263,7524.442436,College,M,21941.0,96.0,0/0/00,Personal Auto,California,691.20,Four-Door Car
7069,Y167826,2611.836866,College,M,0.0,77.0,0/0/00,Corporate Auto,California,369.60,Two-Door Car

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [45]:
df_marketing = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
df_marketing.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [46]:
df_marketing['income']

0        48029
1            0
2        22139
3        49078
4        23675
         ...
10905        0
10906    61146
10907    39837
10908    64195
10909        0
Name: income, Length: 10910, dtype: int64

In [47]:

# Create the pivot table based on income 
pivot_table = df_marketing.pivot_table(
    index='sales_channel', 
    values='income', 
    aggfunc='sum'
)


# Round the total revenue to 2 decimal points
pivot_table = pivot_table.round(2)

total_income = pivot_table['income'].sum()
pivot_table['percentage'] = (pivot_table['income'] / total_income) * 100
pivot_table['percentage'] = pivot_table['percentage'].round(2)

# Display the pivot table
print(pivot_table)

                  income  percentage
sales_channel
Agent          152490152       37.24
Branch         113775608       27.78
Call Center     81055004       19.79
Web             62200103       15.19

In [48]:
# Agent major sales channel with 37% of revenues
# Web is underperforming with only 15% of revenue shares

In [52]:


# Create the pivot table with a list for multiple index columns
pivot_table2 = df_marketing.pivot_table(
    index=['gender', 'education'],  # Use a list here
    values='customer_lifetime_value', 
    aggfunc='mean'  # Correctly specify the aggregation function for averaging
)

# Round the result to 2 decimal points
pivot_table2 = pivot_table2.round(2)

# Sort the pivot table by 'customer_lifetime_value' in descending order
pivot_table2 = pivot_table2.sort_values(by='customer_lifetime_value', ascending=False)



# Display the pivot table
print(pivot_table2)

                             customer_lifetime_value
gender education
F      High School or Below                  8675.22
M      Master                                8168.83
F      Master                                8157.05
M      High School or Below                  8149.69
       College                               8052.46
F      Bachelor                              7874.27
       College                               7748.82
M      Bachelor                              7703.60
       Doctor                                7415.33
F      Doctor                                7328.51

In [ ]:
# highest CLV are brought by high schoold educated females and master degree individuals both sexes.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [54]:
summary_table = df_marketing.groupby(['policy_type', 'month'])['total_claim_amount'].sum().reset_index()

In [55]:
summary_table = summary_table.sort_values(by='total_claim_amount', ascending=False)

print(summary_table)

      policy_type  month  total_claim_amount
2   Personal Auto      1        1.904511e+06
3   Personal Auto      2        1.639900e+06
0  Corporate Auto      1        5.180572e+05
1  Corporate Auto      2        4.877942e+05
4    Special Auto      1        1.053454e+05
5    Special Auto      2        8.902393e+04